.search-box {

    &__label {
        font-size: 20px;
        margin-right: 5px;
    }

    &__input {
        padding: 10px;
        font-size: 18px;
        border: 5px black solid;
        border-radius: 15px;
        margin-right: 10px;


        &:focus {
            border: 4px black solid;
            outline: none;
        }
    }
}

@media screen and (max-width: 830px) {

    .search-box {

        &__label {
            font-size: 15px;

        }

        &__input {

            font-size: 10px;
            height: 12px;
            border: 2px black solid;


        }
    }
}