.search-box {

    &__label {
        font-size: 20px;
    }

    &__input {
        padding: 10px;
        font-size: 18px;
        border: 5px black solid;
        border-radius: 15px;


        &:focus {
            border: 4px black solid;
            outline: none;
        }
    }
}