.cardList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 70px;
    text-decoration: none;


}


@media screen and (max-width: 1200px) {
    .cardList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 810px) {
    .cardList {
        display: flex;
        flex-direction: column;
    }
}