.main {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgb(105, 101, 181);
    background: linear-gradient(197deg, rgba(105, 101, 181, 1) 10%, rgba(39, 170, 49, 1) 49%, rgba(57, 58, 112, 1) 89%);
    margin-bottom: 50px;
    color: black;

    &__heading {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 5vh;
        font-weight: bolder;


    }
}

@media screen and (max-width: 1250px) {
    .main {
        &__heading {
            margin-top: 100px;
            width: 100%;
            height: auto;
            font-size: 4vh;
        }

    }
}

@media screen and (max-width: 830px) {
    .main {
        width: 100%;
        display: inline-block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;



        &__heading {
            margin-top: 150px;
            width: 100%;
            font-size: 20px;



        }
    }
}