.main {
    width: 100%;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    &__heading {
        margin-top: 6%;
        width: 100%;
        text-align: center;
        display: inline-block;
        font-size: 40px;
        font-weight: bolder;


    }
}