.beerCard2 {
    margin: 20px auto;
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(59, 54, 148);
    background: radial-gradient(circle, rgba(59, 54, 148, 1) 10%, rgba(130, 130, 238, 1) 49%, rgba(90, 90, 108, 1) 89%);
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    padding-bottom: 20px;




    &__img {
        max-width: 150px;
        max-height: 250px;
        align-items: center;
    }

    &__heading {
        display: block;
        color: black;
        text-decoration: none;
        text-align: center;
    }

    &__name {
        font-size: 1.8em;
        font-weight: bold;
        color: black;

    }

    &__tagline {
        margin: 0px;
        font-size: 1em;
        font-weight: bold;
        color: black;


    }

    &__figures {
        margin: 1em 0px;
        display: block;
        color: black;
    }

    &__description {
        text-align: left;
        font-size: 0.86em;
        overflow: auto;
        padding-right: 10px;
        padding-left: 10px;

    }

    &__list {
        margin-top: 10px;
        list-style-type: none;
        padding: 0;
        text-align: center;


        &-header {
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 5px;
        }

        &-content {
            font-size: 13px;
        }

    }
}

.beerCard__figure {
    display: inline-block;
    background-color: lightpink;
    border-radius: 15px;
    margin-right: 1.5em;
    padding: 0.5em 0.3em;
    min-width: 50px;
    font-size: 0.7em;


    &-label {
        text-align: center;
        letter-spacing: 2px;
    }

    &-value {
        font-size: 1.75em;
        text-align: center;
        font-weight: bold;

    }
}

@media screen and (max-width:830px) {
    .beerCard2 {
        margin-top: 170px;
    }

}