@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Mochiy+Pop+One&family=Mouse+Memoirs&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mochiy Pop One', sans-serif;
  text-decoration: none;

}

.app__main {
  background: linear-gradient(197deg, rgba(105, 101, 181, 1) 10%, rgba(39, 170, 49, 1) 49%, rgba(57, 58, 112, 1) 89%);
  margin-bottom: 50px;
}