.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 70px;
    height: 8%;
    background-color: bisque;
    padding: 15px;
    display: flex;
    align-items: center;



    &__logo {
        font-size: 30px;
        font-weight: bold;
    }

    &__links {
        display: flex;
        margin: 0 auto;
        align-items: center;

    }

}

@media screen and (max-width: 830px) {
    .navbar {
        min-height: 140px;
        display: flex;
        flex-direction: column;
        height: 15%;

        &__logo {
            // margin-top: -10px;
            font-size: 20px;

        }

        &__links {
            display: flex;
            flex-direction: column;

        }


    }
}